

.data-btns {
  width: 17vw;
}

.data-headers {
  font-size: 20px;
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: 'Roboto', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';


  font-weight: 200;
  letter-spacing: 0.2px;
  width: 17vw;
}

.import-data  {
  text-align: center;
}

.export-data {
  text-align: center;
}
